---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h4>My ZX Spectrum Games</h4>
	<ul>
	<li><a href="/zx-dungeon/">The Mysterious Labyrinth</a></li>
	<li><a href="/zx-life-2/">ZX Life 2.0</a></li>
	<li><a href="/space-fleet/">Space Fleet (Sinclair BASIC)</a></li>
	<li><a href="/blitz-basic/">Blitz (Sinclair BASIC)</a></li>
	<li><a href="/runout/">RunOut (Sinclair BASIC)</a></li>
	</ul>
</Layout>
